@page
@model RazorPage.Pages.NewsArticles.NewsArticleCreateHistoryModel
@{
}

<h1>Create history</h1>

<p>
    <a asp-page="Create">Create New</a><br />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                News title
            </th>
            <th>
                Headline
            </th>
            <th>
                News content
            </th>
            <th>
                News source
            </th>
            <th>
                Created date
            </th>
            <th>
                Modified date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NewsArticles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Headline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsSource)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyDate)
                </td>
                <td>
                    <a asp-page="Details" asp-route-id="@item.NewsArticleId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
