@page
@model RazorPage.Pages.Tags.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@* <form asp-action="Index" method="get" class="mb-3">
    <input type="text" name="searchString" placeholder="Search..." class="form-control" />
    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form> *@

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                Name
            </th>
            <th>
                Note
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1; // Start counting from 1
        }
        @foreach (var item in Model.Tags)
        {
            <tr>
                <td>@count</td>
                <td>
                    @Html.DisplayFor(modelItem => item.TagName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.TagId">Edit</a> |
                    <a asp-page="Details" asp-route-id="@item.TagId">Details</a> |
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>
