@page
@model RazorPage.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Search" method="get" class="mb-5">
    <label for="nameSearch">Search:</label>
    <input type="text" id="searchNameString" name="searchNameString" placeholder="Enter name...">
    <input type="text" id="searchEmailString" name="searchEmailString" placeholder="Enter email...">
    <label for="searchRoleString">Role:</label>
    <select id="searchRoleString" name="searchRoleString">
        <option value="">All</option>
        <option value="Staff">Staff</option>
        <option value="Lecturer">Lecturer</option>
    </select>


    <input type="hidden" id="pageNumber" name="pageNumber" min="1" value="1">

    <button type="submit">Search</button>
</form>


<button type="button" class="btn btn-primary" onclick="loadCreateForm()">Create Account</button>

<table class="table">
    <thead>
        <tr>
            <th>
                FullName
            </th>
            <th>
                Email
            </th>
            <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SystemAccounts.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    <button class="btn btn-warning" onclick="loadEditForm(@item.AccountId, this)">Edit</button> |
                    <a class="btn btn-info" asp-action="Profile" asp-route-id="@item.AccountId">Profile</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.AccountId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @if (Model.SystemAccounts.HasPreviousPage)
    {
        <a asp-page="Index" asp-route-pageNumber="@(Model.SystemAccounts.PageNumber - 1)" class="btn btn-primary">Previous</a>
    }

    <span>Page @Model.SystemAccounts.PageNumber of @Model.SystemAccounts.TotalPages</span>

    @if (Model.SystemAccounts.HasNextPage)
    {
        <a asp-page="Index" asp-route-pageNumber="@(Model.SystemAccounts.PageNumber + 1)" class="btn btn-primary">Next</a>

    }
</div>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="createFormContainer">
                <!-- Create form will be loaded here -->
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="editFormContainer">
                <!-- Edit form will be loaded here -->
            </div>
        </div>
    </div>
</div>

<script>
    function loadCreateForm() {
        $.get('/SystemAccounts/Create', function (data) {
            $('#createFormContainer').html(data);
            $('#createModal').modal('show');
        });
    }

    $(document).on("submit", "#createAccountForm", function (event) {
        event.preventDefault();
        $.post('/SystemAccounts/Create', $(this).serialize(), function () {
            $('#createModal').modal('hide');
            location.reload();
        });
    });

    function loadEditForm(id, button) { // Pass the button element
        $.get('/SystemAccounts/Edit?id=' + id, function (data) {
            $('#editFormContainer').html(data);
            $('#editModal').modal('show');

            // Attach submit handler *after* form is loaded (using .off to prevent duplicates)
            $('#editAccountForm').off('submit').on('submit', function (event) {
                event.preventDefault();
                $.post($(this).attr('action'), $(this).serialize(), function () {
                    $('#editModal').modal('hide');
                    location.reload();
                });
            });
        });
    }
</script>